body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

#selection {
    height: 100%;
    background: #EBB442;
    color: white;
    font-size: 50px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#selection img {
    width: 255px;
    margin: auto;

}

#selection2 {
    height: 100%;
    background: #67A1B1;
    color: white;
    font-size: 50px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}


#selection2 img {
    width: 290px;
    margin: auto;
}

/*--------------------------------------------------*/

.original {
    /*height: 100%;*/
    /*width:50%;*/
    background: #67A1B1;
    color: white;
    font-size: 50px;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.original a p {
    text-decoration: none;
    color: white;
}

.original2 {
    /*height: 100%;*/
    /*width: 50%;*/
    background: #67A1B1;
    color: white;
    text-decoration: none;
    font-size: 50px;
    text-align: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.original2 img {
    width: 150px;

}

.original2 a p {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.original3 {
    /*height: 100%;*/
    /*width: 50%;*/
    background: #67A1B1;
    color: white;
    font-size: 50px;
    text-align: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.original3 a p{
    text-decoration: none;
    color: white;
}

.size {
    background: #67A1B1;
    color: white;
    font-size: 30px;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.milk {
    background: #67A1B1;
    color: white;
    font-size: 30px;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-decoration: none;
    font-weight: normal;
}

/*--------------------------------------------------*/

.col-container {
    display: table;
    width: 100%;
    margin: auto;


}
.col {
    display: table-cell;
    width: 50%;
    color: white;
}

.col-image{
    width: 80%;
    margin-left: auto;
    padding: 8%;
}

.col-container2 {
    display: table;
    width: 100%;
    margin: auto;
}
.col2 {
    display: table-cell;
    width: 50%;
    color: white;
}

/*--------------------------------------------------*/

#small {
    font-size: 50px;
    text-align: center;

}

#medium {
    font-size: 50px;
    text-align: center;"
}

#large {
    font-size: 50px;
    text-align: center;"
}

#extralarge {
    font-size: 50px;
    text-align: center;"
}

/*--------------------------------------------------*/

#order {
    background: #67A1B1;
}



