.heading-s {
    background: #EBB442;
    color: white;
    font-size: 30px;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.small{
    width: 250px;
    padding: 0px 0 0 120px;
}
.medium{
    width: 300px;
    padding: 0px 0 0 100px;
}
.large{
    width: 350px;
    padding: 0px 0 0 80px;
}
.extralarge{
    width: 400px;
}
.col{
    height: 790px;
    vertical-align: middle;
}
.col2{
    height: 790px;
    vertical-align: middle;
}
.row{
   width: auto;
   height: 340px;
}
.row-image{
    float: inherit;
    padding-top: 100px;
    padding-left: 60px

}
p{
    color: white;
}
.rr{
    width: 130px;
}

.btn{
  text-transform:uppercase;
  font-size:1em;
  padding:20px 0;
  display:block;
}


#container {
    margin-left: 5%;
    width: 33.333%;
    padding-top: 20%;
}
#container label {
  color: white;
  font-family: georgia;
  margin-right: 10px;
}
#slider-value {
  width: auto;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 400px;
  margin: 250px 0px 0 -1400px;
  color: #4C7D8B;
}

#slider {
  width: 90%;
  position: absolute;
  height: 20px;
  background-color: #4C7D8B;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.ui-slider-range {
  background-color:white;
	position: absolute;
	border: 0;
	top: 0;
	height: 130%;
    border-radius(20px);
}
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: white;
  outline: none;
  top: -20px;
  margin-left: -5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.ui-page-theme-a .ui-body-inherit{
    background-color: transparent !important;
    color: white !important;
}
.ui-input-text{
    border-width: 0px;
}
.ui-shadow-inset {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.perc img{
   width: 290px;
    margin-left: 150%;
    margin-bottom: -730px;
}
.center a{
    text-align: center!important;
    font-size: 70px!important;
    color: #4C7D8B!important;
    padding-left: 110%;
    text-transform: uppercase;
    font-weight: 100!important;
}
