body {
    height: 100%;
    margin: 0;
}

.ui-page {
    background: url("img/owl.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
